<div class="row p-similar">
  <% @similar.each do |p| %>
      <% unless p.media_gallery.is_a? NilClass %>
          <div><%= link_to(image_tag(p.media_gallery.media_medias.first.file.url(:thumb)), playground_path(p)) %></div>
      <% end %>
  <% end %>
</div>