<div class="row p-list">
  <% @playgrounds.each do |playground| %>
      <div class="col-md-6 p-item">
        <%= link_to playground_path(playground), class: 'itm-link' do %>
            <%= image_tag playground.media_gallery.media_medias.first.file.url(:list) %>
            <p>
              <%= playground.name %>,<%= playground.sport_type.name %><br/>
              <span class="text-muted"><%= playground.region.name %>, <%= playground.address %></span>
            </p>

            <div class="item-price">
              <%= playground.min_price.to_i %>
              <span class="price-currency"><%= t('currency.som').to_s %></span>
            </div>
        <% end %>
      </div>
  <% end %>
</div>