<!--YIELD Average Rating-->
<%= content_for :avg_rating do %>
    <% if @playground.reviews.length > 0 %><%= (@playground.reviews.average('personal_rating')+@playground.reviews.average('location_rating')+@playground.reviews.average('infrastructure_rating')+@playground.reviews.average('field_rating'))/4 %>
    <% end %>
<% end %>

<!--Image Gallery-->
<div class="row g-parent">
  <div class="r-gallery">
    <% @playground.media_gallery.media_medias.each do |media| %>
        <div><%= image_tag media.file.url(:medium) %></div>
    <% end %>
  </div>
</div>
<!--END Image Gallery-->

<!--Field Summary-->
<div class="row p-summary">
  <h4><%= @playground.name %></h4>

  <!--Total average rating-->
  <p class="text-muted"><%= @playground.region.name %>
    , <%= @playground.address %> &nbsp; <span class="n-raty" data-raty="<%= yield :avg_rating %>"></span>
    (<%= @playground.reviews.length %>)
  </p>
  <% @playground.infrastructures.each do |i| %>
      <span class="inf inf-<%= i.icon %>"></span>
      <%= i.name %>
  <% end %>
  <div class="p-price">
    <%= @playground.min_price %> <%= t('currency.som') %>
  </div>
</div>
<!--END Field Summary-->


<div class="row p-properties">
  <div class="col-md-7">
    <div class="row">
      <p class="col-md-3"><%= t('activerecord.models.sport_type') %>:</p>

      <p class="col-md-9"><%= @playground.sport_type.name %></p>
    </div>
    <div class="row">
      <p class="col-md-3"><%= t('activerecord.attributes.playground.size') %>:</p>

      <p class="col-md-9"><%= @playground.size %></p>
    </div>
    <div class="row">
      <p class="col-md-3"><%= t('activerecord.attributes.playground.max_players') %>:</p>

      <p class="col-md-9"><%= @playground.max_players %></p>
    </div>
    <div class="row">
      <p class="col-md-3"><%= t('roof') %>:</p>

      <p class="col-md-9"><%= @playground.roof.name %></p>
    </div>
    <div class="row">
      <p class="col-md-3"><%= t('activerecord.models.cover') %>:</p>

      <p class="col-md-9"><%= @playground.cover.name %></p>
    </div>
    <div class="row">
      <p class="col-md-3">Инфраструктура:</p>

      <p class="col-md-9">
        <% @playground.infrastructures.each do |infrastructure| %>
            <%= infrastructure.name %>
        <% end %>
      </p>

    </div>
  </div>
  <div class="col-md-5 p-about">
    <h4><%= t('about') %></h4>

    <p><%= @playground.description %></p>
  </div>
</div>

<!--Reviews-->
<div class="row">
  <div class="col-md-9 bg-white reviews">
    <div>
      <div class="review-head">
        <h4 class="pull-left"><%= t('activerecord.attributes.playground.reviews') %>

          <!--Total average rating-->
          <span class="n-raty" data-raty="<%= yield :avg_rating %>"></span>
          (<%= @playground.reviews.length %>)
        </h4>
        <button class="btn btn-success pull-right" data-toggle="modal" data-target="#reviewModal"><%= t('writereview') %></button>
      </div>
      <%= render 'reviews/list' %>
      <%= render 'reviews/new' %>
    </div>
  </div>
  <div class="col-md-3 bg-white">

    <%= link_to playground_calendars_url playground_id: @playground.id do %>
        <button class="btn btn-danger pull-right">
          <%= t('go.schedule') %>
        </button>
    <% end %>
  </div>
</div>
<!--END Reviews-->

<%= render 'similar' %>