<div class="container">
  <div class="omb_login">
    <h3 class="omb_authTitle"><%= t('devise.sign.in') %> <%= t('or') %>
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to t('devise.sign.up'), new_registration_path(resource_name) %><br/>
      <% end -%></h3>

    <div class="row omb_row-sm-offset-3 omb_socialButtons">

      <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
              <div class="col-xs-4 col-sm-2">
                <%= link_to omniauth_authorize_path(resource_name, provider), class: 'btn btn-lg btn-block omb_btn-facebook' do %>
                    <i class="fa fa-<%= provider.to_s.titleize %> visible-xs"></i>
                    <span class="hidden-xs"><%= provider.to_s.titleize %></span>
                <% end %>
              </div>
          <% end -%>
      <% end -%>

      <div class="col-xs-4 col-sm-2">
        <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
          <i class="fa fa-twitter visible-xs"></i>
          <span class="hidden-xs">Twitter</span>
        </a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a href="#" class="btn btn-lg btn-block omb_btn-google">
          <i class="fa fa-google-plus visible-xs"></i>
          <span class="hidden-xs">Google+</span>
        </a>
      </div>
    </div>
    <div class="row omb_row-sm-offset-3 omb_loginOr">
      <div class="col-xs-12 col-sm-6">
        <hr class="omb_hrOr">
        <span class="omb_spanOr"><%= t('or') %></span>
      </div>
    </div>

    <div class="row omb_row-sm-offset-3">
      <div class="col-xs-12 col-sm-6">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <%= f.email_field(:email, autofocus: true, class: 'form-control', placeholder: t('activerecord.attributes.user.email')) %>
            </div>
            <span class="help-block"></span>

            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: t('activerecord.attributes.user.password') %>
            </div>
            <span class="help-block"><!--Password error--></span>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </div>
            </div>
            <div class="row omb_row-sm-offset-3">
              <% if devise_mapping.rememberable? %>
                  <div class="col-xs-12 col-sm-3">
                    <label class="checkbox">
                      <%= f.check_box :remember_me %> <%= t('remember.me') %>
                    </label>
                  </div>
              <% end %>
              <div class="col-xs-12 col-sm-3">
                <p class="omb_forgotPwd">
                  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                      <%= link_to "Forgot your password?", new_password_path(resource_name) %><br/>
                  <% end -%>
                </p>
              </div>
            </div>
            </div>
        <% end %>
        </div>