<ul class="nav navbar-nav navbar-right">
  <% if user_signed_in? %>
      <li>
        <%= link_to current_user do %>
            <% if current_user.uid %>
                <%= image_tag "http://graph.facebook.com/#{current_user.uid}/picture", {:class => 'profile-icon img-rounded'} %>
            <% end %>
            <%= current_user.first_name %>
        <% end %>
      </li>
      <li>
        <%= link_to edit_user_registration_path, {:data => {:toggle => :tooltip, :placement => :bottom}, :title => t('devise.settings')} do %>
            <i class="fa fa-lg fa-gear"></i>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, {:method => :delete, :data => {:toggle => :tooltip, :placement => :left}, :title => I18n.t('devise.sign.out')} do %>
            <i class="fa fa-sign-out fa-lg"></i>
        <% end %>
      </li>
  <% else %>
      <li><%= link_to new_user_session_path do %>
            <i class="fa fa-sign-in fa-lg"></i>
            <%= t('devise.sign.in') %>
        <% end %></li>
  <% end %>
</ul>