<h3><%= link_to @playground.name, playground_url({id: @playground}) %></h3>
<div class="row">
  <div class="col-md-4">
    <i class="fa fa-arrow-left"></i>
    <i class="fa fa-arrow-right"></i>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>
<div class="row ca-header btn-danger">
  <div class="col-md-1"></div>
  <% for k in 0..10 %>
      <div class="col-md-1"><%= @options[:day] + k %>/<%= @options[:month] %></div>
<% end %>
</div>
<% for i in 8..24 %>
    <div class="row calendar">
      <div class="col-md-1"><%= (i%24).to_s.rjust(2, '0') %>:00</div>
      <% for j in 1..11 %>
          <div class="col-md-1" data-time="<%= i %><%= j %>"><%= i %> <%= j %> </div>
    <% end %>
    </div>
<% end %>
<div class="row">
  <div class="col-md-6 well">
    <h4>Мои броны</h4>
    <ul id="reservations">
    </ul>
    <button class="btn btn-danger"><%= t('list.clear') %></button>
  </div>
</div>