<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h3><%= t('activerecord.attributes.user.forgot_your_password') %></h3>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
          <%= devise_error_messages! %>
          <div>
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: t('activerecord.attributes.user.email') %></div>
          <br/>

          <div><%= f.submit t("activerecord.attributes.user.send_me_reset_instruction"), class: 'btn btn-lg btn-primary btn-block' %></div>
      <% end %>

    </div>
  </div>
</div>