$brand-info: #5bc0de;
$metallic: #bdbdbd;
$brand-danger: #d9534f;
.calendar {
  .col-md-1 {
    border: 1.5px solid #ffffff;
    height: 30px;
    cursor: pointer;
  }
}

.ca-header {
  .col-md-1 {
    height: 25px;
    color: #ffffff;
    border: 1px solid #ffffff;
  }
}

.calendar:hover {
  background-color: #d9edf7;
}

#reservations {
  padding: 0;
  li {
    width: 200px;
    margin-bottom: 2px;
    padding: 4px 6px;
    list-style: none;
    i {
      float: right;
      margin: 2px;
      cursor: pointer;
    }
  }
}