// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.c-modal-picker {
  display: inline-block;
  height: 40px;
  width: 35px;
  background: #2f5070;
  position: fixed;
  top: 40%;
  padding-left: 7px;
  padding-top: 6px;
  color: #ffffff;
  border-radius: 0 35px 35px 0;

}

.c-modal-picker:hover {
  cursor: pointer;
}

#c-modal {
  .c-item {
    width: 120px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .c-item:hover {
    background-color: #449d44;
    color: #ffffff;
    cursor: pointer;
  }
  .modal-dialog {
    max-width: 400px;
  }

}