// Place all the styles related to the Playgrounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

.left-filter {
  .slider {
    width: 100% !important;
  }
  .hr {
    margin: 10px 0;
  }
  h5 {
    font-weight: bold;
  }
  input[type=number], input[type=time] {
    width: 75px;
  }
  input[type=number]:nth-child(odd), input[type=time]:nth-child(odd) {
    float: right;
  }
  .infrastructure, .cover {
    label {
      display: inline;
      font-weight: normal;
    }
    input[type=checkbox] {
      margin-right: 10px;
    }
    label:after {
      content: "\a";
      white-space: pre;
    }

  }
  .roof label:first-child {
    margin-right: 40px;
  }
  .slider.slider-horizontal {
    height: 40px;
  }
  label[for^=roof_id]:nth-of-type(1) {
    margin-right: 65px;
  }
  input[id^=roof_id] {
    margin-right: 5px;
  }
}

.r-gallery {
  margin-left: auto;
  margin-right: auto;
}

.g-parent {
  background: lightgray;
  padding-bottom: 10px;
}

.inf {
  background-image: url("/assets/inf-icons.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 27px;
  display: inline-block;
}

.inf-tribune {
  background-position: -384px 0;
}

.inf-shower {
  background-position: -288px -27px;
}

.inf-sauna {
  background-position: -352px 0;
}

.inf-change-room {
  background-position: -417px 0;
}

.inf-trainer {
  background-position: -320px 0;
}

.inf-light {
  background-position: -256px -27px;
}

.p-summary {
  position: relative;
  margin-bottom: 15px;
  border-bottom: 2px solid #cccccc;
  padding-bottom: 20px;
  background-color: #ffffff;
  padding-left: 15px;
  border-right: 2px solid $brand-danger;
}

.p-price {
  position: absolute;
  right: 0;
  display: inline-block;
  bottom: 35%;
  font-size: 24px;
  background-color: $brand-danger;
  color: #ffffff;
  padding: 3px 5px;
}

.p-properties > .col-md-7 > .row {
  margin-bottom: 5px;
  p.col-md-3 {
    font-weight: bold;
  }

}

.p-properties {
  background: white;
  margin-bottom: 15px;
  padding-top: 15px;
}

.p-about {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-left: -15px;
}

.p-list {
  .p-item {
    display: inline-block;
    margin-bottom: 15px;
    position: relative;
    .itm-link {
      text-decoration: none;
      color: #000000;
      font-weight: normal;
      font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
      p {
        padding-top: 10px;
        padding-left: 10px;
      }
    }
    .item-price {
      position: absolute;
      left: 15px;
      top: 270px;
      display: inline-block;
      background: rgba(39, 36, 36, 0.87);
      color: white;
      font-size: 24px;
      padding: 2px 10px;
      .price-currency {
        font-size: 12px;
        vertical-align: super;
      }
    }
  }
}