// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray-darker: lighten(#000, 13.5%);
// #222
$gray-dark: lighten(#000, 20%);
// #333
$gray: lighten(#000, 33.5%);
// #555
$gray-light: lighten(#000, 46.7%);
// #777
$gray-lighter: lighten(#000, 93.5%);
// #eee
.r-hr {
  border: 1px solid $gray-lighter;
}

.r-created {
  font-weight: bold;
}

.r-reviews {
  span.n-raty {
    float: right;
  }
}

#reviewModal {
  .r-rating {
    margin-bottom: 30px;
  }
  textarea {
    width: 100%;
  }
}

.review-head {
  height: 35px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.reviews {
  background-color: #ffffff;
  padding-bottom: 15px;
  margin-bottom: 15px;
}