// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
//@import "bootstrap-slider";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jquery.raty";
@import "slick";

html, body, .body {
  height: 100%;
  background-color: #E9EAED;
}

.body {
  margin-bottom: 100px;
}

footer {
  display: block;
  margin-top: -100px;
}

.left-filter input[type=checkbox] {
  display: inline;
}

.container {
  width: 970px !important;
}

.bg-white {
  background-color: #ffffff;
}

header a {
  text-decoration: none !important;
}