<div class="row">
  <div class="col-md-3">
    <div> <%= t('activerecord.attributes.review.personal_rating') %></div>
    <span class="n-raty" data-raty="<%= @reviews.average('personal_rating') %>"></span>
  </div>
  <div class="col-md-3">
    <div> <%= t('activerecord.attributes.review.field_rating') %></div>
    <span class="n-raty" data-raty="<%= @reviews.average('field_rating') %>"></span>
  </div>
  <div class="col-md-3">
    <div> <%= t('activerecord.attributes.review.location_rating') %></div>
    <span class="n-raty" data-raty="<%= @reviews.average('location_rating') %>"></span>
  </div>
  <div class="col-md-3">
    <div> <%= t('activerecord.attributes.review.infrastructure_rating') %></div>
    <span class="n-raty" data-raty="<%= @reviews.average('infrastructure_rating') %>"></span></div>
</div>

<% @reviews.each do |review| %>
    <%= render partial: 'reviews/review', locals: {review: review} %>
<% end %>
<% if @reviews.length==4 %>
    <button class="btn btn-success pull-right" id="r-more" data-last="0" data-offset="<%= @reviews.length %>"><%= t('actions.more') %></button>
<% end %>

<script>
    $('.n-raty').each(function () {
        $(this).raty({
            score: $(this).data('raty'),
            readOnly: true,
            path: '/assets'
        })
    })
</script>