<% @reviews.each do |review| %>
    <%= render partial: 'reviews/review', locals: {review: review} %>
<% end %>

<script>
    $('.n-raty').each(function () {
        $(this).raty({
            score: $(this).data('raty'),
            readOnly: true,
            path: '/assets'
        })
    });
    <% if @reviews.length <10 %>
    $('#r-more').data('last', 1);
    <%end%>
</script>