<!-- Modal -->
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t('activerecord.models.review') %></h4>
      </div>
      <div class="modal-body">
        <%= form_tag({:action => "create", :controller => "reviews", :playground_id => @playground.id}) do %>
            <div class="row r-rating">
              <div class="col-md-3">
                <div><%= t('activerecord.attributes.review.personal_rating') %></div>
                <div class="r-raty" data-raty="0" data-name="review[personal_rating]"></div>
              </div>
              <div class="col-md-3">
                <div><%= t('activerecord.attributes.review.location_rating') %></div>
                <div class="r-raty" data-raty="0" data-name="review[location_rating]"></div>
              </div>
              <div class="col-md-3">
                <div><%= t('activerecord.attributes.review.field_rating') %></div>
                <div class="r-raty" data-raty="0" data-name="review[field_rating]"></div>
              </div>
              <div class="col-md-3">
                <div><%= t('activerecord.attributes.review.infrastructure_rating') %></div>
                <div class="r-raty" data-raty="0" data-name="review[infrastructure_rating]"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3"><%= label_tag :cover_description, t('activerecord.attributes.review.cover_description') %></div>
              <div class="col-md-9"><%= text_area :review, :cover_description %></div>

              <div class="col-md-3"><%= label :general_impression, t('activerecord.attributes.review.general_impression') %></div>
              <div class="col-md-9"><%= text_area :review, :general_impression %></div>

              <div class="col-md-3"><%= label :infrastructure_description, t('activerecord.attributes.infrastructure.description') %></div>
              <div class="col-md-9"><%= text_area :review, :infrastructure_description %></div>
            </div>
            <input type="hidden" name="review[playground_id]" value="<%= @playground.id %>">

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('close') %></button>
              <button type="submit" class="btn btn-primary"><%= t('save') %></button>
            </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
<script>
    $('.r-raty').each(function () {
        $(this).raty({
            score: $(this).data('raty'),
            readOnly: false,
            path: '/assets',
            scoreName: $(this).data('name'),
            half: true
        })
    })
</script>