<hr class="r-hr"/>
<div class="row r-reviews">
  <div class="col-md-4">
    <p><%= t('activerecord.attributes.review.field_rating') %>
      <span class="n-raty" data-raty="<%= review.field_rating %>"></span></p>

    <p><%= t('activerecord.attributes.review.infrastructure_rating') %>
      <span class="n-raty" data-raty="<%= review.infrastructure_rating %>"> </span></p>

    <p><%= t('activerecord.attributes.review.personal_rating') %>
      <span class="n-raty" data-raty="<%= review.personal_rating %>"> </span></p>

    <p><%= t('activerecord.attributes.review.location_rating') %>
      <span class="n-raty" data-raty="<%= review.location_rating %>"> </span></p>
  </div>
  <div class="col-md-8">
    <p class="text-muted"><%= t('cover') %>:</p>

    <p><%= review.cover_description %></p>

    <p class="text-muted"><%= t('infrastructure') %>:</p>

    <p><%= review.infrastructure_description %></p>

    <p class="text-muted"><%= t('activerecord.attributes.review.general_impression') %>:</p>

    <p><%= review.general_impression %></p>
  </div>

</div>
<div class="r-created text-muted"><%= review.created_at.strftime("%B %d %Y") %></div>