<div class="c-modal-picker fa fa-map-marker fa-2x btn-success" data-toggle="modal" data-target="#c-modal"></div>

<div class="modal fade" id="c-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><%= t('city.choose') %></h4>
      </div>
      <div class="modal-body">
        <div class="c-list">
          <% City.all.order(name: :asc).each do |city| %>
              <div class="c-item">
                <span><%= city.name %></span>
              </div>
          <% end %></div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div><!-- /.modal -->