<!DOCTYPE html>
<html>
<head>
  <title>Booking</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>
<div class="container body">
  <%= yield %>
</div>
<div class="clearfix"></div>

<!--    <%= render 'layouts/footer' %>-->
<%= render 'layouts/city_popup' %>
</body>
</html>
