<div class="row">
  <div class="col-md-6">
    <h2><%= t('activerecord.attributes.user.edit') %> <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :email %>
          <br/>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %></div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div><%= f.label :password %> <i>(<%= t('activerecord.attributes.user.message') %>)</i><br/>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %></div>

        <div><%= f.label :password_confirmation %>
          <br/>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %></div>

        <div><%= f.label :current_password %> <i>(<%= t('activerecord.attributes.user.cmessage') %>)</i><br/>
          <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %></div>
        <br/>

        <div><%= f.submit t('activerecord.attributes.user.update'), class: 'btn btn-block btn-primary' %></div>
    <% end %>

    <h3><%= t('activerecord.attributes.user.cancel.account') %></h3>

    <p><%= t('user.unhappy') %>
      ? <%= button_to t('activerecord.attributes.user.cancel.account'), registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete %></p>

    <%= link_to :back do %>
        <i class="fa fa-long-arrow-left"></i>
        <%= t('back') %>
    <% end %>
  </div>
</div>