<div class="container">
  <div class="row omb_login">

    <div class="col-md-offset-3 col-sm-6 col-md-6">
      <h3 class="omb_authTitle"><%= t('devise.sign.up') %> <%= t('or') %> <%= link_to t('devise.sign.in'), new_user_session_path %></h3>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: t('activerecord.attributes.user.email') %>
          </div>
          <br/>

          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i> </span>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: t('activerecord.attributes.user.password') %>
          </div>
          <div class="help-block">
            <% if @validatable %>
                <i>(<%= @minimum_password_length %> <%= t('characters.minimum') %>)</i>
          <% end %>
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i> </span>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: t('activerecord.attributes.user.password_confirmation') %>
          </div>
          <br/>

          <div><%= f.submit t('devise.sign.up'), class: 'btn btn btn-primary btn-lg btn-block' %></div>
      <% end %>
    </div>
  </div>
</div>
